[versions]
android-gradleplugin = "8.4.2"
kotlin = "2.0.0"
kotlin-ksp = "2.0.0-1.0.22"

[libraries]
materialcomponents = { module = "com.google.android.material:material", version = "1.12.0" }
plugin-nexus-publish = { module = "io.github.gradle-nexus:publish-plugin", version = "1.3.0" }
plugin-agp = { module = "com.android.tools.build:gradle", version.ref = "android-gradleplugin" }
plugin-kotlin-android = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
plugin-dokka = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version = "1.9.20" }
plugin-binaryCompatibilityValidator = { module = "org.jetbrains.kotlinx.binary-compatibility-validator:org.jetbrains.kotlinx.binary-compatibility-validator.gradle.plugin", version = "0.14.0" }
apache-commons-compress = { module = "org.apache.commons:commons-compress", version = "1.26.2" }
apksig = { module = "com.android.tools.build:apksig", version.ref = "android-gradleplugin" }
listenablefuture = { module = "com.google.guava:listenablefuture", version = "1.0" }
guava = { module = "com.google.guava:guava", version = "33.2.0-android" }
viewbindingpropertydelegate = { module = "com.github.kirich1409:viewbindingpropertydelegate-noreflection", version = "1.5.9" }

[plugins]
android-application = { id = "com.android.application", version.ref = "android-gradleplugin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-ksp = { id = "com.google.devtools.ksp", version.ref = "kotlin-ksp" }