<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="20" />

	<uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application>
		<activity
			android:name=".impl.installer.activity.IntentBasedInstallActivity"
			android:exported="false"
			android:showForAllUsers="true"
			android:showOnLockScreen="true"
			android:showWhenLocked="true"
			android:theme="@style/Theme.Ackpine.InstallActivity"
			tools:ignore="UnusedAttribute" />
		<activity
			android:name=".impl.installer.activity.SessionBasedInstallLauncherActivity"
			android:exported="false"
			android:showForAllUsers="true"
			android:showOnLockScreen="true"
			android:showWhenLocked="true"
			android:theme="@style/Theme.Ackpine.InstallActivity"
			tools:ignore="UnusedAttribute" />
		<activity
			android:name=".impl.installer.activity.SessionBasedInstallConfirmationActivity"
			android:exported="false"
			android:showForAllUsers="true"
			android:showOnLockScreen="true"
			android:showWhenLocked="true"
			android:theme="@style/Theme.Ackpine.InstallActivity"
			tools:ignore="UnusedAttribute" />

		<receiver
			android:name=".impl.installer.receiver.PackageInstallerEventsReceiver"
			android:exported="false" />

	</application>
</manifest>
