<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application>
		<activity
			android:name=".impl.installer.activity.IntentBasedInstallActivity"
			android:exported="false"
			android:showForAllUsers="true"
			android:showOnLockScreen="true"
			android:showWhenLocked="true"
			android:theme="@style/Theme.Ackpine.SessionCommitActivity"
			tools:ignore="UnusedAttribute" />
		<activity
			android:name=".impl.installer.activity.SessionBasedInstallCommitActivity"
			android:exported="false"
			android:showForAllUsers="true"
			android:showOnLockScreen="true"
			android:showWhenLocked="true"
			android:theme="@style/Theme.Ackpine.SessionCommitActivity"
			tools:ignore="UnusedAttribute" />
		<activity
			android:name=".impl.installer.activity.SessionBasedInstallConfirmationActivity"
			android:exported="false"
			android:showForAllUsers="true"
			android:showOnLockScreen="true"
			android:showWhenLocked="true"
			android:theme="@style/Theme.Ackpine.SessionCommitActivity"
			tools:ignore="UnusedAttribute" />
		<activity
			android:name=".impl.uninstaller.activity.UninstallActivity"
			android:exported="false"
			android:showForAllUsers="true"
			android:showOnLockScreen="true"
			android:showWhenLocked="true"
			android:theme="@style/Theme.Ackpine.SessionCommitActivity"
			tools:ignore="UnusedAttribute" />

		<receiver
			android:name=".impl.installer.receiver.PackageInstallerStatusReceiver"
			android:exported="false" />

		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			android:exported="false"
			tools:node="merge">
			<meta-data
				android:name="ru.solrudev.ackpine.AckpineInitializer"
				android:value="androidx.startup" />
		</provider>

	</application>
</manifest>
