<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application>
		<provider
			android:name=".AssetFileProvider"
			android:authorities="${applicationId}.AssetFileProvider"
			android:exported="false"
			android:grantUriPermissions="true" />
	</application>
</manifest>