name: github-release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

permissions:
  contents: read

jobs:
  release-samples:
    name: Create GitHub release
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          persist-credentials: false

      - name: Setup environment
        uses: ./.github/actions/setup-gradle-environment-action
        with:
          gradle-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Decode key store
        run: |
          echo $APP_SIGNING_KEY_STORE > encoded-keystore.txt
          base64 -d encoded-keystore.txt > $APP_SIGNING_KEY_STORE_PATH
        env:
          APP_SIGNING_KEY_STORE: ${{ secrets.APP_SIGNING_KEY_STORE }}
          APP_SIGNING_KEY_STORE_PATH: ${{ secrets.APP_SIGNING_KEY_STORE_PATH }}

      - name: Build samples
        run: |
          ./gradlew :buildSamples --stacktrace
        env:
          APP_SIGNING_KEY_ALIAS: ${{ secrets.APP_SIGNING_KEY_ALIAS }}
          APP_SIGNING_KEY_PASSWORD: ${{ secrets.APP_SIGNING_KEY_PASSWORD }}
          APP_SIGNING_KEY_STORE_PASSWORD: ${{ secrets.APP_SIGNING_KEY_STORE_PASSWORD }}
          APP_SIGNING_KEY_STORE_PATH: ${{ secrets.APP_SIGNING_KEY_STORE_PATH }}

      - name: Extract release changelog
        run: |
          ./gradlew :releaseChangelog

      - name: Create GitHub release
        run: |
          gh release create ${{ github.ref_name }} release/* --title ${{ github.ref_name }} --notes-file changelog.txt
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}